@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$primary-color: #9197B3;
$focus-color: #5932EA;
$nav-text-color: #9197B3;
$row-text-color: #292D32;
$inactive-button-second-color: #FFC5C5;
$inactive-button-first-color: #DF0404;
$active-first-color: #008767;
$active-button-second-color: rgba(20, 201, 158, 0.39);

$pagination-text-color: #404B52;
$current-page-button-color: #5932EA;
$other-page-button-color: #EEEEEE;

